.table {
    margin-top: 20px;
    overflow-y: scroll;
    height: 20em;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr:nth-of-type(odd) {
    background-color: rgb(246, 244, 244);
}

.table td {
    padding: .3em;
}
